In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn import datasets
import matplotlib.pyplot as plt
%matplotlib inline
sns.set_style('whitegrid')
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
df = pd.read_excel('binary-joy.xlsx')

In [3]:
df.head()

              id                                              Tweet  joy
0  2017-En-21441  â€œWorry is a down payment on a problem you ma...    0
1  2017-En-31535  Whatever you decide to do make sure it makes y...    1
2  2017-En-21068  @Max_Kellerman  it also helps that the majorit...    1
3  2017-En-31436  Accept the challenges so that you can literall...    1
4  2017-En-22195  My roommate: it's okay that we can't spell bec...    0

In [4]:
import nltk
from nltk.corpus import stopwords
from nltk.stem.snowball import SnowballStemmer
import re
import sys
import warnings
data = df
if not sys.warnoptions:
    warnings.simplefilter("ignore")
def cleanHtml(sentence):
    cleanr = re.compile('<.*?>')
    cleantext = re.sub(cleanr, ' ', str(sentence))
    return cleantext
def cleanPunc(sentence): #function to clean the word of any punctuation or special characters
    cleaned = re.sub(r'[?|!|\'|"|#]',r'',sentence)
    cleaned = re.sub(r'[.|,|)|(|\|/]',r' ',cleaned)
    cleaned = cleaned.strip()
    cleaned = cleaned.replace("\n"," ")
    return cleaned
def keepAlpha(sentence):
    alpha_sent = ""
    for word in sentence.split():
        alpha_word = re.sub('[^a-z A-Z]+', ' ', word)
        alpha_sent += alpha_word
        alpha_sent += " "
    alpha_sent = alpha_sent.strip()
    return alpha_sent
data['Tweet'] = data['Tweet'].str.lower()
data['Tweet'] = data['Tweet'].apply(cleanHtml)
data['Tweet'] = data['Tweet'].apply(cleanPunc)
data['Tweet'] = data['Tweet'].apply(keepAlpha)

In [7]:
data.head()

              id                                              Tweet  joy
0  2017-En-21441  worry is a down payment on a problem you may n...    0
1  2017-En-31535  whatever you decide to do make sure it makes y...    1
2  2017-En-21068  max kellerman it also helps that the majority ...    1
3  2017-En-31436  accept the challenges so that you can literall...    1
4  2017-En-22195  my roommate  its okay that we cant spell becau...    0

In [8]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()
vectorizer
X = vectorizer.fit_transform(df['Tweet'])
X.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [16]:
XX = X.toarray()
YY = df['joy']

In [18]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [14]:
knn = KNeighborsClassifier(n_neighbors=5)

In [19]:
 X_train, X_test, y_train, y_test = train_test_split(XX, YY, test_size=0.33, random_state=42)

In [20]:
knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [21]:
YYY = knn.predict(X_test)
print (YYY)

[0 0 1 ... 0 0 0]

NameError: name 'accuracy_score' is not defined

In [22]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, YYY)

0.6548515728843598